.content {
    display: flex;
    flex-direction: column;
    row-gap: 92px;
}

@media (max-width: 984px) {
    .content {
        row-gap: 88px;
    }
}

@media (max-width: 760px)  {
    .content {
        row-gap: 64px;
    }
}
