.cover__background {
  width: 100%;
  min-height: 740px;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../../../images/cover/trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
/* см. вебинар-лайвкодинг от 02.06.22 "Респонсив и адаптив"*/
.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity .3s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media (max-width: 1140px) {
  .cover__background {
    min-height: 640px;
  }
}

@media (max-width: 984px) {
  .cover__background {
    min-height: 480px;
  }
}

@media (max-width: 760px) {
  .cover__background {
    min-height: 400px;
  }
}

@media (max-width: 568px) {
  .cover__background {
    min-height: 350px;
  }
}

@media (max-width: 425px) {
  .cover__background {
    min-height: 300px;
  }
}

@media (max-width: 375px) {
  .cover__background {
    min-height: 200px;
  }
}
